 body{
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  line-height: 1.5 em;
} 

#container{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  padding:10px;
} 

 #seller_of_the_week{
   background-color: white;
   margin: auto;
 }

#seller_title{
  background-color: red;
  color: white;
  z-index: 1;
  text-align: center;
  width: 75%;
  margin: auto;
  position: relative;
  top: 1.5em;
  padding: 6px;
  font-size: 30px;
  font-weight: 900;
}

#other_products_text{
  text-align: center;
  color: red;
}

#most_viewed {
  background: red;
  color: white;
  text-align: center;
}

.item_name{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 

.item_text{
  text-align: center;
}

div#carousel{
  width: 100%;
  height: 100px;  
}

 #item_image{
  width: 100%;
  height: auto;
} 

button.slick-prev:before {
  color: red;
  font-size: 30px;
}

button.slick-next:before {
  color: red;
  font-size: 30px;
}

.slick-dots {
    white-space: nowrap;
    overflow: hidden;
}

/* Responsive Design */
@media only screen and (max-width: 390px) {
  #seller_title{
    font-size: 20px;
  }

  #seller_of_week_img{
    width: 330px;
  }

  #other_products_text {
    font-size: 23px;
  }
  .slick-dots {
    white-space: nowrap;
    overflow: hidden;
  }

  button.slick-prev:before {
    display: none;
  }

  button.slick-next:before {
    display: none;
  }

}